//
//  LiveContainer.debug.xcconfig
//  LiveContainer
//
//  Created by s s on 2025/5/24.
//

#include "Global.xcconfig"

LIVECONTAINER_BUNDLE_IDENTIFIER = com.kdt.livecontainer.$(DEVELOPMENT_TEAM)
PRODUCT_BUNDLE_IDENTIFIER = com.kdt.livecontainer.$(DEVELOPMENT_TEAM)

APP_GROUP_SIDESTORE = group.com.SideStore.SideStore.$(DEVELOPMENT_TEAM)
APP_GROUP_ALTSTORE = group.com.rileytestut.AltStore.$(DEVELOPMENT_TEAM)
