<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.kdt.livecontainer.extensionurlscheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>liveprocess</string>
			</array>
		</dict>
	</array>
	<key>GCSupportedGameControllers</key>
	<array>
		<dict>
			<key>ProfileName</key>
			<string>DirectionalGamepad</string>
		</dict>
		<dict>
			<key>ProfileName</key>
			<string>ExtendedGamepad</string>
		</dict>
		<dict>
			<key>ProfileName</key>
			<string>MicroGamepad</string>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_googlecast._tcp</string>
	</array>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
			<string>FALSEPREDICATE</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.ar.viewer</string>
		<key>NSExtensionPrincipalClass</key>
		<string>LiveProcessHandler</string>
		<key>NSExtensionContextClass</key>
        <string>NSExtensionContext</string>
        <key>NSExtensionContextHostClass</key>
        <string>NSExtensionContext</string>
	</dict>
	<key>NSLocationDefaultAccuracyReduced</key>
	<true/>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>SBAppUsesLocalNotifications</key>
	<integer>1</integer>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-central</string>
		<string>external-accessory</string>
		<string>fetch</string>
		<string>location</string>
		<string>nearby-interaction</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
    <key>XPCService</key>
    <dict>
        <key>ServiceType</key>
        <string>Application</string>
        <key>_MultipleInstances</key>
        <true/>
        <key>_ProcessType</key>
        <string>App</string>
    </dict>
</dict>
</plist>
